<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.firstyear">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Guide"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".android.support.design.widget.PageAdapterIN"></activity>
        <activity android:name=".android.support.design.widget.PageAdapterTEX" />
        <activity android:name=".android.support.design.widget.PageAdapterCHE" />
        <activity android:name=".android.support.design.widget.PageAdapterINST" />
        <activity android:name=".android.support.design.widget.PageAdapterMECH" />
        <activity android:name=".android.support.design.widget.PageAdapterPro" />
        <activity android:name=".android.support.design.widget.PageAdapterCIV" />
        <activity android:name=".android.support.design.widget.PageAdapterele" />
        <activity android:name=".PageAdapterIT" />
        <activity android:name=".PageAdapter1" />
        <activity android:name=".android.support.design.widget.PageAdapter" />
        <activity android:name=".TEXT" />
        <activity android:name=".CHEM" />
        <activity android:name=".INSTRU" />
        <activity android:name=".PROD" />
        <activity android:name=".MECH" />
        <activity android:name=".CIVIL" />
        <activity android:name=".ELEC" />
        <activity android:name=".IT" />
        <activity android:name=".EXTC" />
        <activity android:name=".CSE" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>